<p id="notice"><%= notice %></p>
<h4>Your Story</h4>
<div class="well">
<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Description:</b>
  <%= @story.description %>
</p>

<p>
  <b>Category:</b>
  <%= @story.category.name %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
</div>