<!DOCTYPE html>
<html>
<head>
  <title>NewsStoryFinder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	    	<a href="#" class="brand">NewsStoryFinder</a>
	    	<ul class="navv nav pull-left divider-vertical">
	    		<li><%= link_to "Panama City Florida", root_path %></li>
	    	</ul>
	    	<ul class="nav pull-right">
	    		<% if user_signed_in? %>
	    		  <li class="divider-vertical"><%= link_to current_user.username, static_pages_home_path %></li>	
				  <li class="divider-vertical"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				<% else %>
				  <li class="divider-vertical"><%= link_to "Sign up", new_user_registration_path %></li>
				  <li class="divider-vertical"><%= link_to "Login", new_user_session_path %></li>
				  <li class="divider-vertical"><%= link_to image_tag('sign-in-with-twitter-gray.png'), user_omniauth_authorize_path(:twitter) %></li>
				<% end %>
	    	</ul>
	    </div>
	   </div>
	 </div>

	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">x</button>
				<%= message %>
				</div>
		<% end %>		
			
<%= yield %>
	

</body>
</html>
